[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
docker = "*"
pysam = "*"
scikit-bio = "*"
numpy = "*"
scipy = "*"
jupyterlab = "*"
notebook = "*"
plotly = "*"
pandas = "*"
numba = "*"
ssw = "*"

[requires]
python_version = "3.7"
